
form { 
		border: 3px solid #f1f1f1; 
	} 
	
	.inputbtn{ 
		width: 40%; 
		padding: 15px 15px; 
		margin: 8px 0; 
		display: inline-block; 
		border: 1px solid #ccc; 
		box-sizing: border-box; 
	} 
		
	button { 
		background-color: #4CAF50; 
		color: white; 
		padding: 18px 20px; 
		margin: 10px 0; 
		border: none; 
		cursor: pointer; 
		width: 20%;

	} 
	
	

	.imgcontainer { 
		text-align: center; 
		margin: 24px 0 12px 0; 
	} 
	
	img.avatar { 
		width: 20%; 
		border-radius: 25%; 
	} 


